{% extends 'bills/base.html' %}
{% load static %}

{% block title %}
  Новый заказ
{% endblock %}

{% block link %}
  <link rel="stylesheet" href="{% static 'bills/css/bill_detail.css' %}">
{#  <link rel="stylesheet" href="{% static 'css/bill_detail.css' %}">#}
{% endblock %}

{% block content %}

  <!-- Главный контейнер -->
  <div class="container-fluid">

    <!-- Оглавление -->
    <div class="d-flex row justify-content-center">
        <h3 class="p-2 d-none d-sm-block text-center">Подробности заказа</h3>
        <h4 class="p-2 d-sm-none d-block text-center">Подробности заказа</h4>
    </div>

    <!-- Кнопки навигации верхние-->
    <div class="d-flex row mb-2">
      <!-- Кнопка возврата в главное меню для обеих версий-->
      <div class="d-flex col-md justify-content-center">
        <button type="button" class="btn btn-primary mx-1" onclick="window.location.href='{% url 'bills:bill_list' %}'">На главную</button>
      </div>
    </div>

    <!-- Основной ряд в котором две колонки для большого экрана-->
    <div class="d-flex row">

      <!-- Первая колонка - ГЛАВНОЕ ПО ЗАКАЗУ -->
      <div class="d-flex col-md mb-2">
        <div class="container">
          <div class="d-flex py-2 pl-4 ml-4"><h4 class="text-center">Главное по заказу</h4></div>

          <form class="post-form" method="post">{% csrf_token %}

            <div class="row px-0 mb-2">
              <div class="col-sm-3 py-2">Что заказали*:</div>
              <div class="col-sm   py-0 my-auto">{{ form.product }}</div>
            </div>

            <div class="row px-0 mb-2">
              <div class="col-sm-3 py-2">Поставщик*:</div>
              <div class="col-sm   py-0 my-auto font-weight-bold">{{ form.supplier }}</div>
            </div>

            <div class="row px-0 mb-2">
              <div class="col-sm-3 py-2">Больница*:</div>
              <div class="col-sm   py-0 my-auto font-weight-bold">{{ form.clinic }}</div>
            </div>

            <div class="row px-0 mb-2">
              <div class="col-sm-3 py-2">Аппарат:</div>
              <div class="col-sm   py-0 my-auto font-weight-bold">{{ form.device }}</div>
            </div>

            <div class="row px-0 mb-2">
              <div class="col-sm-3 py-2">Техник*:</div>
              <div class="col-sm   py-0 my-auto">{{ form.engineer }}</div>
            </div>

            <div class="row px-0 mb-2">
              <div class="col-sm-3 py-2">Статус*:</div>
              <div class="col-sm py-0 my-auto">{{ form.supply }}</div>
            </div>

            <div class="row px-0 mb-2">
              <div class="col-6 col-sm-3 py-2">Дата поставки:</div>
            </div>

            <!-- Комментарий -->
            <div class="row mx-0 px-3">
              <p>* - поля обязательные к заполнению</p>
            </div>
        </div>
      </div>

      <!-- Вторая колонка - ИНФОРМАЦИЯ ПО СЧЁТУ -->
      <div class="d-flex col-md mb-2">
        <div class="container">
          <div class="d-flex py-2 pl-4 ml-4"><h4 class="text-center">Информация по счёту</h4></div>

          <div class="row px-0 mb-2">
            <div class="col-sm-3 py-2">№ счёта:</div>
            <div class="col-sm   py-0 my-auto">{{ form.bill_number }}</div>
          </div>

          <div class="row px-0 mb-2">
            <div class="col-sm-3 py-2">Дата счёта:</div>
            <div class="col-sm   py-0 my-auto">{{ form.bill_date }}</div>
          </div>

          <div class="row px-0 mb-2">
            <div class="col-sm-3 py-2">Сумма счёта:</div>
            <div class="col-sm   py-0 my-auto">{{ form.bill_sum }}</div>
          </div>

          <div class="row px-0 mb-2">
            <div class="col-6 col-sm-3 py-2">Дата заказа:</div>
            <div class="col            py-2">устанавливается автоматически</div>
          </div>

          <div class="row px-0 mb-2">
            <div class="col-6 col-sm-3 py-2">Дней заказан:</div>
            <div class="col            py-2">не используется</div>
          </div>

          <div class="row px-0 mb-2">
            <div class="col-6 col-sm-3 py-2">Запросил счёт:</div>
            <div class="col            py-2">{{ user.last_name }}</div>
          </div>

          <div class="row px-0 mb-2">
            <div class="col-sm-3 py-2">Комментарий:</div>
            <div class="col-sm   py-2 my-auto">{{ form.comment }}</div>
          </div>

        </div>
      </div>

    </div>


    <!-- Кнопки подтверждения формы -->
    <div class="d-flex row justify-content-center mb-2">
      <input class="btn btn-primary mx-2" type="submit" value="Сохранить">
      <input class="btn btn-primary" type="reset" value="Сброс">
    </div>

    <!-- Кнопки навигации нижние -->
    <div class="d-flex row">
      <!-- Кнопка возврата в главное меню для мобильной версии-->
      <div class="d-flex col-md d-md-none d-block justify-content-center mb-2">
        <button type="button" class="btn btn-primary mx-1" onclick="window.location.href='{% url 'bills:bill_list' %}'">На главную</button>
      </div>
    </div>

  </div>


{% endblock %}
