{% extends 'bills/base.html' %}
{% load static %}

{% block title %}
  Заказ не найден
{% endblock %}

{% block link %}
      <link rel="stylesheet" href="{% static 'bills/css/bill_detail.css' %}">
{% endblock %}

{% block content %}

  <div class="container">
    <!-- Оглавление -->
    <div class="d-flex row justify-content-center">
        <h3 class="p-2 d-none d-sm-block text-center">Подробности заказа</h3>
        <h4 class="p-2 d-sm-none d-block text-center">Подробности заказа</h4>
    </div>

    <!-- Три кнопки навигации для обеих версий-->
    <div class="d-flex row mb-2 justify-content-center">
      <button type="button" class="btn btn-primary" style="width: 3rem" disabled><<</button>
      <button type="button" class="btn btn-primary mx-2" style="width: 7rem" onclick="window.location.href='/'">На главную</button>
      <button type="button" class="btn btn-primary" style="width: 3rem" disabled>>></button>
    </div>

    <!-- Кнопка "вернуться" -->
    <div class="d-flex row mb-2 justify-content-center">
        <button type="button" class="btn btn-primary" style="width: 7rem" onclick="window.location.href = '{{ pk }}';">Вернуться</button>
    </div>

    <!-- Заказа нет -->
    <div class="d-flex row justify-content-center">
      <h3 class="p-2 d-none d-sm-block text-center">Такого заказа нет</h3>
      <h4 class="p-2 d-sm-none d-block text-center">Такого заказа нет</h4>
    </div>
  </div>


{% endblock %}
