{% extends 'bills/base.html' %}
{% load static %}

{% block title %}
  Редактирование заказа
{% endblock %}

{% block link %}
  <link rel="stylesheet" href="{% static 'bills/css/bill_detail.css' %}">
{% endblock %}

{% block content %}

  <!-- Главный контейнер -->
  <div class="container-fluid">

    <!-- Оглавление -->
    <div class="row d-flex justify-content-center">
      <div class="d-flex p-2 justify-content-center ">
        <h3 class="d-none d-sm-block" align="center">Редактирование заказа</h3>
        <h4 class="d-sm-none d-block" align="center">Редактирование заказа</h4>
      </div>
    </div>

    <!-- Кнопки навигации верхние-->
    <div class="d-flex row mb-2">
      <!-- Кнопка возврата в главное меню для обеих версий-->
      <div class="d-flex col-md justify-content-center">
        <button type="button" class="btn btn-primary mx-1" onclick="window.location.href='/'">На главную</button>
      </div>
    </div>

    <!-- Основной ряд в котором две колонки для большого экрана-->
    <div class="d-flex row">

      <!-- Первая колонка - ГЛАВНОЕ ПО ЗАКАЗУ -->
      <div class="d-flex col-md mb-2">
        <div class="container">
          <div class="d-flex py-2 pl-4 ml-4"><h4 class="text-center">Главное по заказу</h4></div>

          <form class="post-form" method="post">{% csrf_token %}

            <div class="row px-0 mb-2">
              <div class="col-sm-3 py-2">Что заказали*:</div>
              <div class="col-sm   py-0 my-auto">{{ form.product }}</div>
            </div>

            <div class="row px-0 mb-2">
              <div class="col-sm-3 py-2">Поставщик*:</div>
              <div class="col-sm   py-0 my-auto font-weight-bold">{{ form.supplier }}</div>
            </div>

            <div class="row px-0 mb-2">
              <div class="col-sm-3 py-2">Больница*:</div>
              <div class="col-sm   py-0 my-auto font-weight-bold">{{ form.clinic }}</div>
            </div>

            <div class="row px-0 mb-2">
              <div class="col-sm-3 py-2">Аппарат:</div>
              <div class="col-sm   py-0 my-auto font-weight-bold">{{ form.device }}</div>
            </div>

            <div class="row px-0 mb-2">
              <div class="col-sm-3 py-2">Техник*:</div>
              <div class="col-sm   py-0 my-auto">{{ form.engineer }}</div>
            </div>

            <div class="row px-0 mb-2">
              <div class="col-sm-3 py-2">Статус*:</div>
              <div class="col-sm py-0 my-auto">{{ form.supply }}</div>
            </div>

            <div class="row px-0 mb-2">
              <div class="col-6 col-sm-3 py-2">Дата поставки:</div>
              {% if bill.supply_date %}
                <div class="col          py-2 font-weight-bold">{{ bill.supply_date }}</div>
              {% else %}
                <div class="col          py-2 font-weight-bold">не доставлено</div>
              {% endif %}
            </div>

            <!-- Комментарий -->
            <div class="row mx-0 px-3">
              <p>* - поля обязательные к заполнению</p>
            </div>

        </div>
      </div>

      <!-- Вторая колонка - ИНФОРМАЦИЯ ПО СЧЁТУ -->
      <div class="d-flex col-md mb-2">
        <div class="container">
          <div class="d-flex py-2 pl-4 ml-4"><h4 class="text-center">Информация по счёту</h4></div>

          <div class="row px-0 mb-2">
            <div class="col-sm-3 py-2">№ счёта:</div>
            <div class="col-sm   py-0 my-auto">{{ form.bill_number }}</div>
          </div>

          <div class="row px-0 mb-2">
            <div class="col-sm-3 py-2">Дата счёта:</div>
            <div class="col-sm   py-0 my-auto">{{ form.bill_date }}</div>
          </div>

          <div class="row px-0 mb-2">
            <div class="col-sm-3 py-2">Сумма счёта:</div>
            <div class="col-sm   py-0 my-auto">{{ form.bill_sum }}</div>
          </div>

          <div class="row px-0 mb-2">
            <div class="col-6 col-sm-3 py-2">Дата заказа:</div>
            <div class="col            py-2 font-weight-bold">{{ bill.order_date }}</div>
          </div>

          <div class="row px-0 mb-2">
            <div class="col-6 col-sm-3 py-2">Дней заказан:</div>
            <div class="col            py-2">не используется</div>
          </div>

          <div class="row px-0 mb-2">
            <div class="col-6 col-sm-3 py-2">Запросил счёт:</div>
            <div class="col            py-2">не используется</div>
          </div>

          <div class="row px-0 mb-2">
            <div class="col-sm-3 py-2">Комментарий:</div>
            <div class="col-sm   py-2 my-auto">{{ form.comment }}</div>
          </div>

        </div>
      </div>

    </div>


    <!-- Кнопки подтверждения формы -->
    <div class="d-flex row justify-content-center mb-2">
      <button type="button" class="btn btn-primary mr-2" style="width: 8rem" onclick="window.location.href = '{% url 'bills:bill_detail' bill.pk %}'">Вернуться</button>
      <input class="btn btn-primary" type="submit" style="width: 8rem" width="10rem" value="Сохранить">
    </div>

    <!-- Кнопки навигации нижние -->
    <div class="d-flex row">
      <!-- Кнопка возврата в главное меню для мобильной версии-->
      <div class="d-flex col-md d-md-none d-block justify-content-center mb-2">
        <button type="button" class="btn btn-primary mx-1" onclick="window.location.href='/'">На главную</button>
      </div>
    </div>

  </div>


{% endblock %}






    <!-- Основной ряд в котором две колонки (не изменённый)-->

    <div class="d-flex row">

      <!-- Первая колонка - ГЛАВНОЕ ПО ЗАКАЗУ -->
      <div class="d-flex col-md">
        <div class="container">
          <div class="py-2 pl-4 ml-4 d-none d-sm-block"><h4>Главное по заказу</h4></div>
          <div class="pt-2           d-sm-none d-block"><h5>Главное по заказу</h5></div>

          <form method="post" class="post-form">{% csrf_token %}

            <div class="row px-0 mb-2">
              <div class="col-sm-3 py-2         d-none d-sm-block">Что заказали:</div>
              <div class="col-sm-3 py-0         d-sm-none d-block">Что заказали:</div>
              <div class="col-sm   py-0 my-auto d-none d-sm-block">{{ form.product }}</div>
              <div class="col-sm   py-0 my-auto d-sm-none d-block">{{ form.product }}</div>
            </div>

            <div class="row px-0 mb-2">
              <div class="col-sm-3 py-2         d-none d-sm-block">Поставщик:</div>
              <div class="col-sm-3 py-0         d-sm-none d-block">Поставщик:</div>
              <div class="col-sm   py-0 my-auto d-none d-sm-block font-weight-bold">{{ form.supplier }}</div>
              <div class="col-sm   py-0 my-auto d-sm-none d-block font-weight-bold">{{ form.supplier }}</div>
            </div>

            <div class="row px-0 mb-2">
              <div class="col-sm-3 py-2         d-none d-sm-block">Больница:</div>
              <div class="col-sm-3 py-0         d-sm-none d-block">Больница:</div>
              <div class="col-sm   py-0 my-auto d-none d-sm-block font-weight-bold">{{ form.clinic }}</div>
              <div class="col-sm   py-0 my-auto d-sm-none d-block font-weight-bold">{{ form.clinic }}</div>
            </div>

            <div class="row px-0 mb-2">
              <div class="col-sm-3 py-2         d-none d-sm-block">Аппарат:</div>
              <div class="col-sm-3 py-0         d-sm-none d-block">Аппарат:</div>
              <div class="col-sm   py-0 my-auto d-none d-sm-block font-weight-bold">{{ form.device }}</div>
              <div class="col-sm   py-0 my-auto d-sm-none d-block font-weight-bold">{{ form.device }}</div>
            </div>

            <div class="row px-0 mb-2">
              <div class="col-sm-3 py-2         d-none d-sm-block">Техник:</div>
              <div class="col-sm-3 py-0         d-sm-none d-block">Техник:</div>
              <div class="col-sm   py-0 my-auto d-none d-sm-block">{{ form.engineer }}</div>
              <div class="col-sm   py-0 my-auto d-sm-none d-block">{{ form.engineer }}</div>
            </div>

            <div class="row px-0 mb-2">
              <div class="col-sm-3 py-2         d-none d-sm-block">Статус:</div>
              <div class="col-sm-3 py-0         d-sm-none d-block">Статус:</div>
              <div class="col-sm-3 py-0 my-auto d-none d-sm-block">{{ form.supply }}</div>
              <div class="col-sm-3 py-0 my-auto d-sm-none d-block">{{ form.supply }}</div>
            </div>

            <div class="row px-0 mb-2">
              <div class="col-sm-3 py-2 d-none d-sm-block">Дата поставки:</div>
              <div class="col-sm-3 py-0 d-sm-none d-block">Дата поставки:</div>
              {% if bill.supply_date %}{{ bill.supply_date }}
              <!--
                <div class="col-sm   py-2 d-none d-sm-block font-weight-bold">{{ bill.supply_date }}</div>
                <div class="col-sm   py-0 d-sm-none d-block font-weight-bold">{{ bill.supply_date }}</div>
              -->
              {% else %}не доставлено
              {% endif %}
            </div>

          <button type="button" class="btn btn-primary" onclick="window.location.href = '{% url 'bills:bill_detail' bill.pk %}'">Назад</button>
{#          <input type="hidden" name="supply" value="Да">#}
          <input class="btn btn-primary" type="submit" value="Сохранить">


        </div>
      </div>

      <!-- Разделитель, появляющийся на "md" экране -->
      <div class="d-md-none d-block "><p></p></div>

      <!-- Вторая колонка - ИНФОРМАЦИЯ ПО СЧЁТУ -->
      <div class="d-flex col-md">
        <div class="container">
          <div class="py-2 justify-content-left pl-4 ml-4 d-none d-sm-block"><h4>Информация по счёту</h4></div>
          <div class="py-2                      px-0 mx-0 d-sm-none d-block"><h5>Информация по счёту</h5></div>
          <!--
          <div class="row px-0 mb-2">
            <div class="col-sm-3 py-2         d-none d-sm-block">№ счёта:</div>
            <div class="col-sm-3 py-0         d-sm-none d-block">№ счёта:</div>
            <div class="col-sm   py-0 my-auto d-none d-sm-block">{{ form.bill_number }}</div>
            <div class="col-sm   py-0 my-auto d-sm-none d-block">{{ form.bill_number }}</div>
          </div>

          <div class="row px-0 mb-2">
            <div class="col-sm-3 py-2         d-none d-sm-block">Дата счёта:</div>
            <div class="col-sm-3 py-0         d-sm-none d-block">Дата счёта:</div>
            <div class="col-sm   py-0 my-auto d-none d-sm-block">{{ form.bill_date }}</div>
            <div class="col-sm   py-0 my-auto d-sm-none d-block">{{ form.bill_date }}</div>
          </div>

          <div class="row px-0 mb-2">
            <div class="col-sm-3 py-2         d-none d-sm-block">Сумма счёта:</div>
            <div class="col-sm-3 py-0         d-sm-none d-block">Сумма счёта:</div>
            <div class="col-sm   py-0 my-auto d-none d-sm-block">{{ form.bill_sum }}</div>
            <div class="col-sm   py-0 my-auto d-sm-none d-block">{{ form.bill_sum }}</div>
          </div>

          <div class="row px-0 mb-2">
            <div class="col-sm-3 py-2 d-none d-sm-block">Дата заказа:</div>
            <div class="col-sm-3 py-0 d-sm-none d-block">Дата заказа:</div>
            <div class="col-sm   py-2 d-none d-sm-block font-weight-bold">{{ bill.order_date }}</div>
            <div class="col-sm   py-0 d-sm-none d-block font-weight-bold">{{ bill.order_date }}</div>
          </div>

          <div class="row px-0 mb-2">
            <div class="col-sm-3 py-2 d-none d-sm-block">Дней заказан:</div>
            <div class="col-sm-3 py-0 d-sm-none d-block">Дней заказан:</div>
            <div class="col-sm   py-2 d-none d-sm-block">не используется</div>
            <div class="col-sm   py-0 d-sm-none d-block">не используется</div>
          </div>

          <div class="row px-0 mb-2">
            <div class="col-sm-3 py-2 d-none d-sm-block">Запросил счёт:</div>
            <div class="col-sm-3 py-0 d-sm-none d-block">Запросил счёт:</div>
            <div class="col-sm   py-2 d-none d-sm-block">не используется</div>
            <div class="col-sm   py-0 d-sm-none d-block">не используется</div>
          </div>

          <div class="row px-0 mb-2">
            <div class="col-sm-3 py-2         d-none d-sm-block">Комментарий:</div>
            <div class="col-sm-3 py-0         d-sm-none d-block">Комментарий:</div>
            <div class="col-sm   py-2 my-auto d-none d-sm-block">{{ form.comment }}</div>
            <div class="col-sm   py-0 my-auto d-sm-none d-block">{{ form.comment }}</div>
          </div>
          -->
        </div>
      </div>
    </div>

