{% extends 'bills/base.html' %}
{% load static %}

{% block title %}
  Подробности заказа
{% endblock %}

{% block link %}
  <link rel="stylesheet" href="{% static 'bills/bill_detail.css' %}">
{% endblock %}

{% block content %}

  <div class="container-fluid">

    <!-- Оглавление -->
    <div class="row d-flex justify-content-center border border-dark">
      <div class="d-flex p-2 justify-content-center ">
        <h3 align="center">Подробности заказа запчасти</h3>
      </div>
    </div>
    <!-- /Оглавление -->

    <!-- Основной ряд в котором две колонки-->
    <div class="d-flex row border border-dark">

      <!-- Первая колонка - ГЛАВНОЕ ПО ЗАКАЗУ -->
<!--
      <div class="d-flex col-md border border-dark">
        <div class="container border border-dark">
          <div class="py-2 justify-content-left pl-4 ml-4 d-none d-sm-block border border-dark"><h4>Главное по заказу 1</h4></div>
          <div class="d-flex py-2 justify-content-center px-0 mx-0 d-sm-none d-block border border-dark"><h4>Главное по заказу 2</h4></div>

          <div class="row px-0 border border-dark">
            <div class="col-sm-3 px-0 py-2 font-weight-bold">Что заказали:</div>
            <div class="col-sm   px-0 py-2 border border-dark">{ { bill.product }} Какое то длинное название</div>
          </div>

          <div class="row px-0">
            <div class="col-sm-3 px-0 py-2 font-weight-bold">Поставщик:</div>
            <div class="col-sm   px-0 py-2">{ { bill.supplier }} Какое то длинное название</div>
          </div>

          <div class="row px-0">
            <div class="col-sm-3 px-0 py-2 font-weight-bold">Больница:</div>
            <div class="col-sm   px-0 py-2">{ { bill.clinic }}</div>
          </div>

          <div class="row px-0">
            <div class="col-sm-3 px-0 py-2 font-weight-bold">Аппарат:</div>
            <div class="col-sm   px-0 py-2">{ { bill.device }}</div>
          </div>

          <div class="row px-0">
            <div class="col-sm-3 px-0 py-2 font-weight-bold border border-dark">Техник:</div>
            <div class="col-sm   px-0 py-2 border border-dark">{ { bill.engineer }}</div>
          </div>

          {% if bill.supply == 'Да' %}
            <div class="row px-0">
              <div class="col-sm-3 px-0 py-2 font-weight-bold">Статус:</div>
              <div class="col-sm   px-0 py-2">Получили</div>
            </div>
            <div class="row px-0">
              <div class="col-sm-3 px-0 py-2 font-weight-bold">Дата поставки:</div>
              <div class="col-sm   px-0 py-2 bg-success text-white">{ { bill.supply }}</div>
            </div>
          {% else %}
            <div class="row px-0">
              <div class="col-sm-3 px-0 py-2 font-weight-bold">Статус:</div>
              <div class="col-sm-3 px-0 py-2 bg-success text-white">Ожидаем</div>
            </div>
            <div class="row px-0">
              <div class="col-sm-3 px-0 py-2 d-flex align-items-center font-weight-bold border border-dark">Дата поставки:</div>
              <div class="col-sm-3 px-0 py-2 d-flex align-items-center border border-dark">не доставлено</div>
              {% if user.is_authenticated %}
              <div class="col-sm-4 d-flex justify-content-center ml-auto border border-dark">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCentered">Товар получили</button>
              </div>
              {% endif %}

            </div>
          {% endif %}
        </div>
      </div>
-->
      <!-- Разделитель, появляющийся на "md" экране -->
<!--
      <div class="d-md-none d-block border border-dark "><p></p></div>
-->


      <!-- Вторая колонка - ИНФОРМАЦИЯ ПО СЧЁТУ -->
<!--
      <div class="d-flex col-md border border-dark">
        <div class="container border border-dark">
          <div class="py-2 justify-content-left pl-4 ml-4 d-none d-sm-block border border-dark"><h4>Информация по счёту 1</h4></div>
          <div class="d-flex py-2 justify-content-center px-0 mx-0 d-sm-none d-block border border-dark"><h4>Информация по счёту 2</h4></div>

          <div class="row px-0">
            <div class="col-sm-4 px-0 py-2 font-weight-bold">№ счёта:</div>
            <div class="col-sm   px-0 py-2">{ { bill.bill_number|default:'-' }}</div>
          </div>

          <div class="row px-0">
            <div class="col-sm-4 px-0 py-2 font-weight-bold">Дата счёта:</div>
            <div class="col-sm   px-0 py-2">{ { bill.bill_date|default_if_none:'-' }}</div>
          </div>

          <div class="row px-0">
            <div class="col-sm-4 px-0 py-2 font-weight-bold">Сумма счёта:</div>
            <div class="col-sm   px-0 py-2">{ { bill.bill_sum|default_if_none:'-' }}</div>
          </div>

          <div class="row px-0">
            <div class="col-sm-4 px-0 py-2 font-weight-bold bg-dark">Дата создания заказа:</div>
            <div class="col-sm   px-0 py-2">{ { bill.order_date }}</div>
          </div>

          <div class="row px-0">
            <div class="col-sm-4 px-0 py-2 font-weight-bold bg-dark">Кто запросил счёт:</div>
            <div class="col-sm   px-0 py-2">не используется</div>
          </div>

          <div class="row px-0">
            <div class="col-sm-4 px-0 py-2 font-weight-bold">Комментарий:</div>
            <div class="col-sm   px-0 py-2">{ { bill.comment|default:'-' }}</div>
          </div>

        </div>
      </div>
-->

    </div>

    <!-- Кнопки навигации -->
    <div class="row d-flex justify-content-center border border-dark">
        <div class="d-flex p-2 justify-content-center ">
            <h3 align="center">Кнопки навигации</h3>
        </div>
    </div>
    <!-- /Кнопки навигации -->


    <!-- Кнопки навигации -->
    <div class="d-flex row mt-3">
      <div class="col"></div>

      <div class="d-flex col-sm-6 justify-content-center">
        <button type="button" class="btn btn-primary" onclick="window.location.href = '{ { bill.pk|add:-1 }}';"><<</button>
        <button type="button" class="btn btn-primary mx-1" onclick="window.location.href='/'">На главную</button>
        <button type="button" class="btn btn-primary" onclick="window.location.href = '{ { bill.pk|add:1 }}';">>></button>
      </div>

      <div class="d-flex col-sm-3 justify-content-end pr-5">
        { % if user.is_authenticated %}
          <button type="button" class="btn btn-primary mr-1" onclick="window.location.href='{ % url 'bills:bill_edit' bill.pk %}'">Редактировать</button>
          <button type="button" class="btn btn-primary" onclick="window.location.href='#'" disabled>Удалить</button>
        { % else %}
          <button type="button" class="btn btn-primary mr-1" onclick="window.location.href='{ % url 'login' %}'">Редактировать</button>
          <button type="button" class="btn btn-primary" onclick="window.location.href='#'" disabled>Удалить</button>
        { % endif %}
      </div>

    </div>

    <!-- /Кнопки навигации -->

  </div>

{% endblock %}