<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Счета на з/части</title>
    <link rel="stylesheet" href="/static/bills/base.css">
    <link rel="stylesheet" href="/static/bills/index.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>

  <body>

    <div class="container-fluid">
      <div class="d-flex row">
        <!-- Кнопки на большом экране -->
        <div class="d-none col-md d-sm-block        justify-content-around border border-dark">
          <div class="d-flex btn-group btn-group-toggle pt-2" data-toggle="buttons">
            <form action="/" method="get">
              <input type="hidden" name="display" value="supply">
              <input class="btn btn-outline-success" type="submit" value="Полученные">
            </form>
            <form action="/" method="get">
              <input type="hidden" name="display" value="all">
              <input class="btn btn-outline-secondary ml-1 d-none d-md-block" type="submit" value="Все заказы">
            </form>
            <form action="/" method="get">
              <input class="btn btn-primary ml-1" type="submit" value="Ожидаем" accesskey="d">
            </form>
          </div>
        </div>

        <!-- Оглавление -->
        <div class="d-flex col-md-5 border border-dark justify-content-center">
          <div class="d-flex sticky-top border border-dark align-items-center">
            <h4 class="border border-dark" >
              Ожидаем поставку комплектующих
            </h4>
          </div>
        </div>

        <!-- Кнопки на малом экране-->
        <div class="d-flex col-md d-sm-none d-block justify-content-around border border-dark">
          <div class="d-flex btn-group btn-group-toggle pt-2" data-toggle="buttons">
            <form action="/" method="get">
              <input type="hidden" name="display" value="supply">
              <input class="btn btn-outline-success" type="submit" value="Полученные">
            </form>
            <form action="/" method="get">
              <input type="hidden" name="display" value="all">
              <input class="btn btn-outline-secondary ml-1 d-none d-md-block" type="submit" value="Все заказы">
            </form>
            <form action="/" method="get">
              <input class="btn btn-primary ml-1" type="submit" value="Ожидаем" accesskey="d">
            </form>
          </div>
        </div>

        <!-- Регистрация -->
        <div class="d-flex col-md d-none justify-content-end border border-dark">
            <ul class="navbar-nav pr-3">
              <li class="nav-item dropleft">
                <a class="nav-link dropdown-toggle pt-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  admin
                </a>
               </li>
            </ul>
          </div>

      </div>
    </div>

<!--
    <div class="container">
      <div class="row">
        <div class="col-sm-4 bg-info">Col 1</div>
        <div class="col-sm-4 bg-warning">Col 2</div>
        <div class="col-sm-4 bg-success">Col 3</div>
      </div>
    </div>
-->
    <p></p>

    <!-- Дополнительный тестовый ряд из 4-х боксов -->
    <div class="d-flex flex-nowrap bd-highlight">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 p-2 bd-highlight border border-dark">1 First flex item 1</div>
          <div class="col-sm-3 p-2 bd-highlight border border-dark">2 Second flex item</div>
          <div class="col-sm-3 p-2 bd-highlight border border-dark">1 First flex item 2</div>
          <div class="col-sm-3 p-2 bd-highlight border border-dark">3 Third flex item</div>
        </div>
      </div>
    </div>
    <!-- /Дополнительный тестовый ряд из 4-х боксов -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  </body>
</html>
