{% extends 'bills/base.html' %}
{% load static %}

{% block title %}
  Подробности заказа
{% endblock %}

{% block link %}
<!--
  <link rel="stylesheet" href="{ % static 'bills/bill_detail.css' %}">
-->
{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="d-flex row">
      <!-- Кнопки на большом экране -->
      <div class="d-none col-md d-sm-block        justify-content-around border border-dark">
        <div class="d-flex btn-group btn-group-toggle pt-2" data-toggle="buttons">
          <form action="/" method="get">
            <input type="hidden" name="display" value="supply">
            <input class="btn btn-outline-success" type="submit" value="Полученные">
          </form>
          <form action="/" method="get">
            <input type="hidden" name="display" value="all">
            <input class="btn btn-outline-secondary ml-1 d-none d-md-block" type="submit" value="Все заказы">
          </form>
          <form action="/" method="get">
            <input class="btn btn-primary ml-1" type="submit" value="Ожидаем" accesskey="d">
          </form>
        </div>
      </div>

      <!-- Оглавление -->
      <div class="d-flex col-md-5 border border-dark justify-content-center">
        <div class="d-flex sticky-top border border-dark align-items-center">
          <h4 class="border border-dark" >
            Ожидаем поставку комплектующих
          </h4>
        </div>
      </div>

      <!-- Кнопки на малом экране-->
      <div class="d-flex col-md d-sm-none d-block justify-content-around border border-dark">
        <div class="d-flex btn-group btn-group-toggle pt-2" data-toggle="buttons">
          <form action="/" method="get">
            <input type="hidden" name="display" value="supply">
            <input class="btn btn-outline-success" type="submit" value="Полученные">
          </form>
          <form action="/" method="get">
            <input type="hidden" name="display" value="all">
            <input class="btn btn-outline-secondary ml-1 d-none d-md-block" type="submit" value="Все заказы">
          </form>
          <form action="/" method="get">
            <input class="btn btn-primary ml-1" type="submit" value="Ожидаем" accesskey="d">
          </form>
        </div>
      </div>

      <!-- Регистрация -->
      <div class="d-flex col-md d-none justify-content-end border border-dark">
          <ul class="navbar-nav pr-3">
            <li class="nav-item dropleft">
              <a class="nav-link dropdown-toggle pt-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                admin
              </a>
             </li>
          </ul>
        </div>

    </div>
  </div>


{% endblock %}

  <!-- Дополнительный тестовый ряд из 4-х боксов -->
  <div class="d-flex flex-nowrap bd-highlight">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 p-2 bd-highlight border border-dark">1 First flex item 1</div>
        <div class="col-sm-3 p-2 bd-highlight border border-dark">2 Second flex item</div>
        <div class="col-sm-3 p-2 bd-highlight border border-dark">1 First flex item 2</div>
        <div class="col-sm-3 p-2 bd-highlight border border-dark">3 Third flex item</div>
      </div>
    </div>
  </div>
  <!-- /Дополнительный тестовый ряд из 4-х боксов -->
