{% extends 'bills/base.html' %}
{% load static %}

{% block title %}
  Подробности заказа
{% endblock %}

{% block link %}
  <link rel="stylesheet" href="{% static 'bills/bill_detail.css' %}">
{% endblock %}

{% block content %}

  <!-- Оглавление и пользователь -->
  <div class="d-flex flex-row mt-3 border border-dark">
    <div class="d-flex col border border-dark"></div>
    <div class="d-flex col border border-dark justify-content-center">
      <h3 class="border border-dark">Подробности заказа з/части</h3>
    </div>
    <div class="d-flex col border border-dark justify-content-center">
        {% if user.is_authenticated %}
          <h3 class="border border-dark">{{ user.username }}</h3>
        {% else %}
          <h3 class="border border-dark">незнакомец</h3>
        {% endif %}
    </div>
  </div>
  <!-- /Оглавление и пользователь -->


  <!-- Кнопки навигации -->
  <div class="d-flex flex-row-sm mt-3">
    <div class="col"></div>
    <div class="d-flex col-sm-6 justify-content-center">
      <button type="button" class="btn btn-primary" onclick="window.location.href = '{{ bill.pk|add:-1 }}';">Предыдущий заказ</button>
      <button type="button" class="btn btn-primary mx-1" onclick="window.location.href='/'">На главную</button>
      <button type="button" class="btn btn-primary" onclick="window.location.href = '{{ bill.pk|add:1 }}';">Следующий заказ</button>
    </div>
    <div class="d-flex col-sm-3 justify-content-end pr-5">
      {% if user.is_authenticated %}
        <button type="button" class="btn btn-primary mr-1" onclick="window.location.href='{% url 'bills:bill_edit' bill.pk %}'">Редактировать</button>
        <button type="button" class="btn btn-primary" onclick="window.location.href='#'" disabled>Удалить</button>
      {% else %}
        <button type="button" class="btn btn-primary mr-1" onclick="window.location.href='{% url 'login' %}'">Редактировать</button>
        <button type="button" class="btn btn-primary" onclick="window.location.href='#'" disabled>Удалить</button>
      {% endif %}
    </div>
  </div>
  <!-- /Кнопки навигации -->


  <!-- Главный ряд с двумя столбцами -->
  <div class="d-flex flex-row">
    <!-- левый ряд ГЛАВНОЕ ПО ЗАКАЗУ -->
    <div class="d-flex col justify-content-center">
      <div class="container">
        <div class="row border border-dark">

          <!-- Колонка-заголовок -->
          <div class="d-flex col border border-dark justify-content-left pl-5 ml-5 ">
            <h4 class="border border-dark">Главное по заказу</h4>
          </div>
          <!-- /Колонка-заголовок -->

          <!-- Колонка-разделитель -->
          <div class="w-100"></div>
          <!-- /Колонка-разделитель -->

          <!-- Колонка - ячейки формы -->
          <div class="col">

            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td class="font-weight-bold" width="24%">
                    Что заказали:
                  </td><td>
                    {{ bill.product }}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-bold">
                    Поставщик:
                  </td><td >
                    {{ bill.supplier }}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-bold">
                    Больница:
                  </td><td>
                    {{ bill.clinic }}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-bold">
                    Аппарат:
                  </td><td>
                    {{ bill.device }}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-bold">
                    Техник:
                  </td><td>
                    {{ bill.engineer }}
                  </td>
                </tr>
                {% if bill.supply == 'Да' %}
                  <tr class="bg-success text-white"><td class="font-weight-bold">Статус:</td><td>Получили</td></tr>
                  <tr><td class="font-weight-bold">Дата доставки:</td><td>{{ bill.supply_date}}</td></tr>
                {% else %}
                  <tr><td class="font-weight-bold">Статус:</td><td >Ожидаем</td></tr>
                  <tr>
                    <td class="font-weight-bold">Дата доставки:</td>
                    <td>не доставлено</td>
                    <td class="py-1" width="30%">
                      {% if user.is_authenticated %}
                        <button type="button" class="btn btn-success my-n4" data-toggle="modal" data-target="#exampleModalCentered">
                          Товар получили
                        </button>
                      {% endif %}
                    </td>
                  </tr>
                {% endif %}
              </tbody>
            </table>

            <!-- Modal -->
            <div class="modal" id="exampleModalCentered" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenteredLabel">Товар получен</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Подтвердите получение товара
                  </div>

                  <div class="modal-footer">
                    <div class="row">
                      <div class="col pl-n5">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                      </div>
                      <div class="col bg-light">
                          <form action="{{ bill.pk }}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="supply" value="yes">
                            <input  class="btn btn-success" type="submit" value="Получили">
                          </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <!-- /Колонка - ячейки формы -->

        </div>
      </div>
    </div>
    <!-- /левый ряд ГЛАВНОЕ ПО ЗАКАЗУ -->

    <!-- правый ряд ИНФОРМАЦИЯ ПО СЧЁТУ -->
    <div class="d-flex col justify-content-center">
      <div class="container">
        <div class="row">
          <div class="d-flex col justify-content-left pl-5 ml-5">
            <h4>Информация по счёту</h4>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <table class="table table-borderless">
              <tbody>
                <tr><td class="font-weight-bold " width="32%">№ счёта:</td><td>{{ bill.bill_number|default:'-' }}</td></tr>
                <tr><td class="font-weight-bold">Дата счёта:</td>           <td>{{ bill.bill_date|default_if_none:'-' }}</td></tr>
                <tr><td class="font-weight-bold">Сумма счёта:</td>          <td>{{ bill.bill_sum|default_if_none:'-' }}</td></tr>
                <tr><td class="font-weight-bold">Дата создания заказа:</td> <td>{{ bill.order_date }}</td></tr>
                <tr><td class="font-weight-bold bg-dark">Кто запросил счёт:</td><td>не используется</td></tr>
              <tr><td class="font-weight-bold">Комментарий:</td>            <td>{{ bill.comment|default:'-' }}</td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- /правый ряд ИНФОРМАЦИЯ ПО СЧЁТУ -->

  </div>
  <!-- /Главный ряд с двумя столбцами -->


  <button type="button" class="btn btn-primary mx-1" onclick="window.location.href='/test'">На тестовую страницу</button>
  <button type="button" class="btn btn-primary mx-1" onclick="window.location.href='/test2'">На тестовую страницу 2</button>
  <button type="button" class="btn btn-primary mx-1" onclick="window.location.href='/test3'">На тестовую страницу 3</button>


{% endblock %}
