{% extends 'bills/base.html' %}
{% load static %}

{% block title %}
  test
{% endblock %}

{% block content %}

{#  <div class="container">#}
{#    <div class="form-group">#}




  <div class="container">

    <form>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      <div class="form-group">
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect2">Example multiple select</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </form>

  </div>


<script>

  function discharge(){
  $('input').val(String($('input').val().replace(/[^0-9.]/g,'')).replace(/\B(?=(\d{3})+(?!\d))/g, " "));
  }

  discharge();
  $('input').keyup(function(){
  discharge();
  });

</script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <input value="12345847">


{% endblock %}







  <!-- Навигационная панель -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <!-- Бренд с картинкой -->
    <a class="navbar-brand border border-dark text-danger" href="#">
      <img src="/static/bills/images/mt-1.png" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        Медтехника
    </a>
    <!-- Тоглер (менюшка с тремя полосками) -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Ссылки которые сворачиваются при уменьшении -->
    <div class="collapse navbar-collapse border border-dark" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a> -->
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Главная</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Ожидаем</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Полученные</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Все заказы</a>
        </li>
      </ul>

      <!-- Форма для кнопки регистрации -->
      <form class="form-inline my-2 my-lg-0">
        <!-- Кнопка регистрации -->
        {% if user.is_authenticated %}
          <div class="d-flex col justify-content-left">
            <!-- Выпадающее меню -->
            <ul class="navbar-nav pr-3">
              <li class="nav-item dropleft">
                <a class="nav-link dropdown-toggle pt-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ user.last_name }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <!-- Дополнительная строчка в выпадающем меню -->
                  <!--
                  <a class="dropdown-item" href="#">Action</a>
                  <div class="dropdown-divider"></div>
                  -->
                  <a class="dropdown-item" href="{% url 'logout' %}" >Выйти</a>
                </div>
               </li>
            </ul>
          </div>
        {% else %}
          <div class="d-flex col justify-content-end">
            <div class="btn-group btn-group-toggle pt-2" data-toggle="buttons">
              <a href="{% url 'login' %}" class="btn btn-success">  Вход  </a>
            </div>
          </div>
        {% endif %}
        <!-- /Кнопка регистрации -->
      </form>



    </div>
  </nav>

  <!-- Основная таблица -->
  <table class="table table-hover table-sm pt-5 table-bordered">
    <thead class="thead-dark">
      <tr>
        <th class="sticky-top py-3 d-none d-sm-table-cell">№</th>
        <th class="sticky-top py-3">Что заказали</th>
        <th class="sticky-top py-3">Поставщик</th>
        <th class="sticky-top py-3">ЛПУ</th>
        <th class="sticky-top py-3">Техник</th>
        <th class="sticky-top py-3 d-none d-sm-table-cell">Доставлено</th>
        <th class="sticky-top py-3 d-none d-sm-table-cell">Дата доставки</th>
      </tr>
    </thead>
  </table>



    <!-- Навбар с картинкой и текстом-брендом -->
    <!--
        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="#">
            <img src="/static/bills/images/mt-small.png"  height="59" class="d-inline-block align-top" alt="" loading="lazy">
            Медтехника
          </a>
        </nav>
    -->

    <!--    Колонки переходящие в строки при уменьшении -->
    <!--
    <div class="container-fluid">
      <div class="row mt-3 border border-success">
        <div class="d-flex col-sm-6 border border-dark justify-content-center">
          <h3>Колонка 1</h3>
        </div>
        <div class="d-flex col-sm-6 border border-dark justify-content-center">
          <h3>Колонка 2</h3>
        </div>
      </div>
    </div>
    -->
